.sidenav {
    height: 700px;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 1;
    left: 0;
    background-image: -webkit-linear-gradient(top, #e7e7e7 0%, transparent 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #337ab7;
}

.sidenav .togglebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
    cursor:pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}